.LEFT {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	max-width:650px;
	height:fit-content;
	background-color: #fff;
	margin-top: 10%;
	margin-left: 12%;
	margin-right: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	justify-content: center;
	gap:10px;
}

.dropdowns{
	display: flex;
     flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height:fit-content;
     margin-top: 20px;
}

#dropdownbutton {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color:rgb(255, 89, 29);
	/* background-color:#000b58; */
	/* background-color:#f21b1b; */
	align-items: center;
	text-align: center;
	margin: .5rem;
	border-radius: 1rem;
	color: #fff;
	padding: .1rem 1rem;
	width: 80%;
	height:fit-content;
}

.personal,.skill,.language,.education,.experience{
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	justify-content: space-around;
	font-family: NotoSans, Helvetica, sans-serif;
	font-size: 15px;
	color: #fff;
}

.DownloadPDF{
	display: flex;
     justify-content: center;
     align-items: center;
     width: 40%;
     height: 50px;
     background-color: #000b58;
     color: #fff;
     border-radius: 10px;
     font-size: 15px;
     cursor: pointer;
	border: none;
	margin-bottom: 20px;
}



